.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1.5rem;
}
.nav-list {
	position: relative;
	display: flex;
	list-style: none;
}
.nav-item {
	min-width: 10rem;
	text-align: center;
	padding-block: 1rem;
}
.nav-link {
	text-transform: uppercase;
}
