body {
	color:  #121419;
	background-color: #fff;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 20px;
    height: 60px;
  }
  
  .nav-link {
    color:black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 350px;
  }
  
  
  .nav-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .active {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1da1f2;
    margin-right: 10px;
  }
  

  