* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

body {
    font-size: 14px;
}

a {
    color: #5cb2e4;
    text-decoration: none;
}

.page {
    width: 100%;
    position: absolute;
    margin: 0 auto;
}