* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

body {
    font-size: 14px;
}

a {
    color: #5cb2e4;
    text-decoration: none;
}

.page {
    width: 100%;
    position: absolute;
    margin: 0 auto;
}

.profile-top-container {
    max-width: 600px;
    background-color: #23272A;
}

.header-photo img {
    max-width: 100%;
    height: 30;
}

.profile {
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid #2C2F33;
}

.prof-pic-and-buttons-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.prof-pic {
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin: -57px 0;
}

.prof-pic img {
    margin: 0 auto;
    height: 100%;
    width: auto;
    cursor: pointer;
    inset: 0;
}
